build
out
/.nb-gradle/
.gradle/
.idea/
freerouting.iml
tmp
/logs/
bin/
.project
.settings
.vscode
.classpath

/distribution/.jdk14
/distribution/runtime
/distribution/Freerouting*

# Windows "mark of the web" metadata files created under WSL
*:Zone.Identifier


